envs/dev/.terraform.lock.hcl
envs/dev/terraform.tfstate
envs/dev/.terraform/


remote-state/.terraform.lock.hcl
remote-state/terraform.tfstate
remote-state/.terraform/
remote-state/terraform.tfstate.backup
